.index{ // 首次进入

    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout:none;
    touch-callout:none;
    .above{
        width: 100%;
        .tip{
            width: 70%;
            margin: 0 auto;
            position: relative;
            img.topi{
            	display: block;
            	width: 100%;
            }
            .btni{
            	width: 100%;
            	position: absolute;
            	bottom: 15px;
            	img{
            		width: 70%;
            		display: block;
            		margin: 0 auto;
            	}
            	
            }
        }
        .tip2{
        	width: 100%;
        	img{
        		display: block;
        		width: 100%;
        	}
        }
        
        .tip3{
            width: 2000%;
            .top,.btm{
                img{
                    height: 100%;
                    float: left;
                    margin-left: 8px;
                }
            }
            .top,.btm{
                height: 50px;
            }
            .btm{
                
            }
        }

    }

}