.result{ // 首次进入

    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout:none;
    touch-callout:none;
    .container{
        background-image: -webkit-linear-gradient(-60deg,#9d0454,#61228d );
        background-image: linear-gradient(150deg,#9d0454,#61228d );
        position: relative;
        img{
            position: absolute;
        }
        img.bg{
            position: static;
            width: 100%;
        }
    }

}